.tabs-container {
  position: relative;
  overflow: hidden;
}

.tab {
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-container button {
  background: transparent;
  padding: 0.7rem 4rem;
  border: none;
  border-bottom: 2.5px solid var(--tabs-color);
  position: relative;
  height: 3.7rem;
  width: 25rem;
  box-shadow: 0px 12px 10px -16px var(--black-color);
  margin-right: 2px;
  font-size: 1.55rem;
  color: var(--text-color);
}

.tabs-container .button-container button:hover {
  cursor: pointer;
}

.tab.active-tab {
  color: var(--neon-color);
  border-bottom: 2.5px solid var(--neon-color);
}

.unactive {
  color: var(--text-color);
}

.slider-container {
  width: 100%;
}

@media (max-width: 600px) {
  .button-container button {
    width: 11rem;
    padding: 0.2rem 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .button-container button {
    width: 21rem;
    font-size: 2rem;
    padding-bottom: 3.7rem;
  }
}
